#teaser-wrap .teaser {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  float: left;
  margin: 1em;
}

#teaser-wrap .teaser img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: left .6s linear;
}

#teaser-wrap .teaser img:hover {
  left: -200px;
}
