@keyframes pulse {
  0% {

  }
  50% {
    transform: rotate(-180deg) scale(5)
  }
  100% {
    transform: rotate(-360deg) scale(.2)
  }
}

.pulse {
  animation: pulse 4s alternate 2;
  width: 300px; height: 100px;
  background: green;
  position: relative;
  margin: 200px auto 0;
  line-height: 100px;
  text-align: center;
  font-family: arial;
}
