img {
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

img:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
